.DS_Store
node_modules

.output
.vercel
.netlify
/build
/.svelte-kit
/package

.env
.env.*
!.env.example
!.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/worker-configuration.d.ts

.wrangler
.dev.vars*
!.dev.vars.example

.direnv
result
result-*

/pipeline/target
/pipeline/work
/experiment
/static/data*
